@import "reset.css"

*, *:before, *:after {
  box-sizing: border-box;
}

.arrow {
	padding-left: 15px;
	padding-top: 39px;
}

h2 {
	font-size: 22px;
	font-family: verdana, sans-serif;
	font-weight: normal;
	padding-left: 70px;
	padding-right: 99px;
	margin-top: -29px;
}

h3 {
	Font-size: 18px;
	font-family: verdana, sans-serif;
	font-weight: normal;
	padding-left: 14px;
}

.menu {
	padding-left: 335px;
	margin-top: -41px;
}

.leave-at {
	padding-left: 72px;
	margin-top: -39px;
	padding-bottom: 15px;
}

.resizedTextbox {
	width: 290px;
	height: 18px;
	background-color: #FCFCFC
}

body {
	background-color: #FAFAFA
}

#map {
	padding-left: 5px;
	padding-bottom: 20px;
}

#bus-pic {
	padding-left: 8px;
}

.bus-line {
	padding-left: 5px;
}

.destination {
	Padding-left: 50px;
	margin-top: -45px;
}

.frequency {
	Padding-left: 50px;
	margin-top: -3px;
	padding-bottom: 18px;
	padding-top: 5px;
}
